* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header__content {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo a {
  display: flex;
  width: 360px;
  height: 36px;
  align-items: center;
  margin-top: 7px;
}
.header__input {
  width: 215px;
  height: 28px;
  border: 0 solid #000;
  position: relative;
}
.header__input input {
  font-size: 14px;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  padding: 3px 10px 3px 26px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}
.header__input span {
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(var(--f52, 142, 142, 142), 1);
  pointer-events: none;
}
.header__input input:focus + span {
  display: none;
}
.header__menu {
  width: 360px;
  display: flex;
  justify-content: flex-end;
}
.header__menu a {
  margin-left: 22px;
}
.header__menu a img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.main {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  width: 100%;
}
.main__content {
  padding-top: 84px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.newfeed {
  width: 614px;
}

.article {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  margin-bottom: 60px;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.article__head {
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.article__head a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #eee;
}
.article__head a {
  text-decoration: none;
  color: rgba(var(--f75, 38, 38, 38), 1);
  font-weight: 600;
}
.article__head a:nth-child(2) {
  margin-left: 15px;
  flex-grow: 1;
}
.article__body {
  width: 100%;
  height: 614px;
}
.article__body img {
  width: 100%;
  height: 100%;
}
.article__foot {
  width: 100%;
}
.article__foot-icon {
  height: 40px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
}
.article__foot-icon a {
  padding-right: 16px;
}
.article__foot-icon a:last-child {
  padding-right: 0px;
}
.article__foot-icon a:nth-child(3) {
  flex-grow: 1;
}
.article__foot-like {
  margin-bottom: 8px;
  padding: 0px 16px;
}
.article__foot-like a {
  color: rgba(var(--f75, 38, 38, 38), 1);
  text-decoration: none;
  font-weight: 600;
}
.article__foot-comment {
  padding: 0px 16px;
}
.article__foot-comment h4 {
  margin-bottom: 5px;
}
.article__foot-comment h4 a {
  text-decoration: none;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
}
.article__foot-comment h4 a:last-child {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-weight: normal;
}
.article__foot-comment h4:nth-last-child(3) a {
  color: #989898;
  font-weight: normal;
}
.article__foot-time {
  margin-bottom: 5px;
  padding: 0px 16px;
}
.article__foot-time a {
  text-decoration: none;
  color: #989898;
  font-size: 10px;
}
.article__foot-post {
  margin-top: 5px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  padding: 0px 16px;
  height: 56px;
  display: flex;
  align-items: center;
}
.article__foot-post input {
  outline: none;
  width: 100%;
  border: none;
}
.article__foot-post button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-weight: 600;
}

.profile {
  width: 293px;
  height: 497px;
  position: relative;
}
.profile__content {
  position: fixed;
  width: 293px;
  height: 497px;
}

.info {
  margin-bottom: 10px;
  margin-top: 18px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.info a img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.info__name {
  margin-left: 15px;
  font-size: 15px;
}
.info__name h4 {
  font-weight: 600;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.info__name h4 a {
  text-decoration: none;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}
.info__name span {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 13px;
  line-height: 14px;
  text-overflow: ellipsis;
}

.relative {
  width: 100%;
  height: 291px;
}
.relative__top {
  margin-top: 12px;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.relative__top h4 {
  font-size: 14px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 600;
  line-height: 18px;
}
.relative__top h4 a {
  color: rgba(var(--f75, 38, 38, 38), 1);
  text-decoration: none;
  line-height: 14px;
  font-size: 12px;
  font-weight: 600;
}
.relative__bottom {
  padding: 8px 0px;
}
.relative__bottom__item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.relative__bottom__item a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.relative__bottom__item__info {
  margin-left: 12px;
  font-size: 15px;
  flex-grow: 1;
}
.relative__bottom__item__info h4 {
  font-weight: 600;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.relative__bottom__item__info h4 a {
  text-decoration: none;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}
.relative__bottom__item__info span {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 13px;
  line-height: 14px;
  text-overflow: ellipsis;
}
.relative__bottom__item a {
  color: rgba(var(--d69, 0, 149, 246), 1);
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

.policy {
  padding-left: 15px;
}
.policy ul {
  height: 60px;
  margin-bottom: 10px;
}
.policy ul li a {
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-decoration: none;
  margin-right: 3px;
}
.policy span {
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

/*# sourceMappingURL=style.css.map */
